In [1]:
import pandas as pd  # keywords are highlighted in green, other strings in red, etc.
import numpy as np

In [3]:
ls -l

total 2696
-rw-r--r--  1 maryramirez  staff       72 Jul 21 23:25 Lab-customer-analysis.2-Mary.ipynb
-rw-r--r--  1 maryramirez  staff  1373574 Jul 21 23:20 marketing_customer_analysis.xlsx

In [4]:
#Show the dataframe shape
file1 = pd.read_excel('marketing_customer_analysis.xlsx')
display(file1.head())
display(file1.tail())
file1.shape

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0.0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,0.0,9.0,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1.0,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.0,1.0,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2.0,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,0.0,2.0,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3.0,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,0.0,2.0,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4.0,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,NaN,7.0,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
10905,10905.0,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,NaN,7.0,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906.0,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,0.0,6.0,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907.0,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,0.0,2.0,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908.0,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,4.0,6.0,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909.0,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,2011-01-08,Unemployed,M,...,0.0,3.0,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

(10910, 26)

In [5]:
data = file1.copy()

In [6]:
data.dtypes

Unnamed: 0                              float64
Customer                                 object
State                                    object
Customer Lifetime Value                 float64
Response                                 object
Coverage                                 object
Education                                object
Effective To Date                datetime64[ns]
EmploymentStatus                         object
Gender                                   object
Income                                  float64
Location Code                            object
Marital Status                           object
Monthly Premium Auto                    float64
Months Since Last Claim                 float64
Months Since Policy Inception           float64
Number of Open Complaints               float64
Number of Policies                      float64
Policy Type                              object
Policy                                   object
Renew Offer Type                         object
Sales Channel                            object
Total Claim Amount                      float64
Vehicle Class                            object
Vehicle Size                             object
Vehicle Type                             object
dtype: object

In [ ]:
#Standardize header names.

In [8]:
column_name_data =data.columns
column_name_data

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [9]:
columns = []
for i in range(len(data.columns)):
    columns.append(data.columns[i].lower())
data.columns = columns

data.head(2)

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,0.0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,0.0,9.0,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1.0,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.0,1.0,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN

In [ ]:
#Which columns are numerical? and categorical?

In [11]:
data.dtypes

unnamed: 0                              float64
customer                                 object
state                                    object
customer lifetime value                 float64
response                                 object
coverage                                 object
education                                object
effective to date                datetime64[ns]
employmentstatus                         object
gender                                   object
income                                  float64
location code                            object
marital status                           object
monthly premium auto                    float64
months since last claim                 float64
months since policy inception           float64
number of open complaints               float64
number of policies                      float64
policy type                              object
policy                                   object
renew offer type                         object
sales channel                            object
total claim amount                      float64
vehicle class                            object
vehicle size                             object
vehicle type                             object
dtype: object

In [13]:
data.isna().sum()

unnamed: 0                          0
customer                            0
state                             631
customer lifetime value             0
response                          631
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           633
months since policy inception       0
number of open complaints         633
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     622
vehicle size                      622
vehicle type                     5482
dtype: int64

In [15]:
data[data['state'].isna()].head(30)
#, 'response', 'months since last claim', 'number of open complaints',
#          'vehicle class','vehicle size','vehicle type'

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
5,5.0,HO81102,NaN,4745.181764,NaN,Basic,High School or Below,2011-02-14,Employed,M,...,0.0,7.0,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize,A
11,11.0,GE63585,NaN,2420.711888,NaN,Basic,Bachelor,2011-02-07,Employed,M,...,0.0,1.0,Corporate Auto,Corporate L3,Offer1,Call Center,199.551735,Two-Door Car,Medsize,NaN
58,58.0,BR69566,NaN,14019.833140,NaN,Basic,College,2011-02-18,Employed,M,...,0.0,2.0,Personal Auto,Personal L3,Offer4,Call Center,469.882367,Two-Door Car,Small,NaN
62,62.0,UF44021,NaN,2108.493744,NaN,Basic,Bachelor,2011-01-02,Unemployed,M,...,0.0,1.0,Personal Auto,Personal L2,Offer1,Agent,351.856810,Two-Door Car,Medsize,NaN
126,126.0,TE60343,NaN,4716.264294,NaN,Basic,High School or Below,2011-02-25,Employed,M,...,1.0,3.0,Corporate Auto,Corporate L3,Offer2,Agent,292.800000,Four-Door Car,Medsize,A
131,131.0,QK24293,NaN,6265.343299,NaN,Extended,Doctor,2011-01-13,Unemployed,F,...,1.0,4.0,Corporate Auto,Corporate L1,Offer1,Agent,481.025786,Four-Door Car,Medsize,NaN
155,155.0,JG35886,NaN,4111.888285,NaN,Premium,College,2011-01-21,Employed,F,...,0.0,1.0,Personal Auto,Personal L2,Offer2,Call Center,480.073548,Four-Door Car,Medsize,A
168,168.0,FV22585,NaN,6960.920371,NaN,Extended,College,2011-02-04,Employed,M,...,0.0,3.0,Personal Auto,Personal L1,Offer1,Call Center,16.711329,Four-Door Car,Medsize,NaN
169,169.0,AU23837,NaN,5010.379310,NaN,Basic,Bachelor,2011-01-19,Employed,F,...,NaN,7.0,Corporate Auto,Corporate L3,Offer1,Agent,295.871784,Four-Door Car,Large,A
190,190.0,VZ18907,NaN,21991.615980,NaN,Basic,College,2011-01-12,Employed,F,...,0.0,2.0,Personal Auto,Personal L3,Offer2,Branch,132.139111,SUV,Large,NaN
226,226.0,VK57280,NaN,4727.354548,NaN,Basic,Bachelor,2011-01-03,Unemployed,M,...,0.0,3.0,Personal Auto,Personal L2,Offer2,Call Center,345.600000,Four-Door Car,Medsize,NaN
251,251.0,EA52579,NaN,7687.296987,NaN,Basic,Bachelor,2011-02-26,Unemployed,F,...,0.0,3.0,Personal Auto,Personal L1,Offer3,Call Center,523.200000,SUV,Medsize,NaN
270,270.0,KX23516,NaN,4455.843406,NaN,Extended,High School or Below,2011-02-20,Unemployed,F,...,0.0,1.0,Personal Auto,Personal L3,Offer4,Agent,699.615192,SUV,Medsize,NaN
304,304.0,PP39078,NaN,5623.611187,NaN,Basic,College,2011-02-19,Employed,F,...,0.0,3.0,Special Auto,Special L1,Offer4,Branch,340.800000,Four-Door Car,Small,A
305,305.0,WZ83320,NaN,9061.057741,NaN,Premium,Master,2011-02-18,Employed,F,...,0.0,8.0,Personal Auto,Personal L1,Offer3,Web,419.303041,Four-Door Car,Medsize,A
321,321.0,WQ85760,NaN,4260.335730,NaN,Basic,College,2011-02-05,Medical Leave,M,...,0.0,1.0,Corporate Auto,Corporate L3,Offer3,Branch,856.800000,SUV,Medsize,NaN
323,323.0,GF70857,NaN,2933.960426,NaN,Extended,College,2011-01-28,Unemployed,M,...,0.0,1.0,Personal Auto,Personal L3,Offer2,Call Center,199.851201,Four-Door Car,Medsize,A
329,329.0,OE15600,NaN,2544.969754,NaN,Basic,College,2011-02-06,Employed,M,...,NaN,1.0,Personal Auto,Personal L3,Offer2,Call Center,139.745936,Two-Door Car,Medsize,A
334,334.0,AV76907,NaN,4282.947971,NaN,Basic,College,2011-02-26,Employed,F,...,1.0,1.0,Personal Auto,Personal L3,Offer1,Agent,166.937747,SUV,Medsize,A
347,347.0,WT71621,NaN,3280.457296,NaN,Extended,Bachelor,2011-02-02,Employed,F,...,0.0,1.0,Personal Auto,Personal L3,Offer2,Web,251.756739,Four-Door Car,Medsize,A
385,385.0,OQ61223,NaN,17497.522010,NaN,Basic,College,2011-02-28,Unemployed,M,...,0.0,2.0,Personal Auto,Personal L2,Offer1,Agent,350.400000,Two-Door Car,Medsize,NaN
403,403.0,ET47892,NaN,12280.766610,NaN,Premium,College,2011-01-01,Employed,M,...,0.0,2.0,Personal Auto,Personal L3,Offer1,Branch,489.600000,Two-Door Car,Medsize,A
404,404.0,XD19546,NaN,8160.689782,NaN,Basic,High School or Below,2011-01-21,Unemployed,F,...,0.0,7.0,Personal Auto,Personal L1,Offer1,Web,523.200000,SUV,Medsize,NaN
430,430.0,AB96670,NaN,2393.915369,NaN,Basic,College,2011-01-31,Unemployed,M,...,0.0,1.0,Personal Auto,Personal L1,Offer1,Branch,425.266308,Four-Door Car,Medsize,NaN
455,455.0,PO56357,NaN,5363.528173,NaN,Basic,High School or Below,2011-01-01,Employed,F,...,1.0,8.0,Personal Auto,Personal L3,Offer1,Web,272.445607,Four-Door Car,Medsize,A
475,475.0,MB20764,NaN,17622.133200,NaN,Premium,High School or Below,2011-02-18,Unemployed,M,...,0.0,3.0,Corporate Auto,Corporate L2,Offer4,Branch,1814.400000,Luxury SUV,Medsize,A
478,478.0,DO98345,NaN,13156.748950,NaN,Extended,High School or Below,2011-02-28,Employed,M,...,0.0,2.0,Personal Auto,Personal L3,Offer2,Web,371.458196,Two-Door Car,Medsize,NaN
491,491.0,IE97795,NaN,6878.008403,NaN,Extended,High School or Below,2011-02-05,Employed,M,...,0.0,5.0,Corporate Auto,Corporate L1,Offer3,Agent,485.013840,NaN,NaN,A
574,574.0,WR85740,NaN,8149.769437,NaN,Basic,Doctor,2011-01-26,Unemployed,F,...,0.0,2.0,Corporate Auto,Corporate L3,Offer2,Call Center,340.800000,Two-Door Car,Medsize,A
595,595.0,TN17395,NaN,22103.507200,NaN,Basic,College,2011-01-30,Unemployed,M,...,0.0,2.0,Personal Auto,Personal L3,Offer1,Branch,489.600000,SUV,Medsize,A

In [17]:
data['state'].nunique()
data['state'].value_counts()

California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: state, dtype: int64

In [18]:
data['state'] = data['state'].fillna('Unknown')
len(data[data['state'].isna() == True])

0

In [19]:
data.isna().sum()

unnamed: 0                          0
customer                            0
state                               0
customer lifetime value             0
response                          631
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           633
months since policy inception       0
number of open complaints         633
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     622
vehicle size                      622
vehicle type                     5482
dtype: int64

In [20]:
data['response'].nunique()
data['response'].value_counts()

No     8813
Yes    1466
Name: response, dtype: int64

In [21]:
data['response'] = data['response'].fillna('Unknown')
len(data[data['response'].isna() == True])

0

In [23]:
data['response'].nunique()
data['response'].value_counts()

No         8813
Yes        1466
Unknown     631
Name: response, dtype: int64

In [24]:
data['months since last claim'].nunique()
data['months since last claim'].value_counts()

3.0     426
6.0     394
1.0     386
7.0     378
4.0     373
2.0     368
5.0     355
0.0     354
10.0    346
16.0    333
11.0    331
15.0    323
13.0    320
8.0     315
12.0    307
17.0    299
14.0    299
9.0     277
23.0    276
19.0    276
25.0    269
21.0    267
18.0    257
20.0    254
22.0    246
24.0    237
29.0    234
28.0    227
31.0    221
26.0    211
27.0    208
30.0    201
34.0    199
33.0    198
35.0    157
32.0    155
Name: months since last claim, dtype: int64

In [28]:
data['months since last claim'] = data['months since last claim'].fillna('0')
len(data[data['months since last claim'].isna() == True])

0

In [27]:
data['response'].nunique()
data['response'].value_counts()

No         8813
Yes        1466
Unknown     631
Name: response, dtype: int64

In [31]:
data['number of open complaints'].nunique()
data['number of open complaints'].value_counts()

0.0    8160
1.0    1145
2.0     414
3.0     324
4.0     166
5.0      68
Name: number of open complaints, dtype: int64

In [32]:
data['number of open complaints'] = data['number of open complaints'].fillna('0.0')
len(data[data['number of open complaints'].isna() == True])

0

In [33]:
#Â¿por quÃ© se ha duplicado el valor?
data['number of open complaints'].nunique()
data['number of open complaints'].value_counts()

0.0    8160
1.0    1145
0.0     633
2.0     414
3.0     324
4.0     166
5.0      68
Name: number of open complaints, dtype: int64

In [34]:
data.isna().sum()

unnamed: 0                          0
customer                            0
state                               0
customer lifetime value             0
response                            0
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim             0
months since policy inception       0
number of open complaints           0
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     622
vehicle size                      622
vehicle type                     5482
dtype: int64

In [35]:
data['vehicle class'].nunique()
data['vehicle class'].value_counts()

Four-Door Car    5212
Two-Door Car     2118
SUV              2012
Sports Car        550
Luxury SUV        208
Luxury Car        188
Name: vehicle class, dtype: int64

In [36]:
data['vehicle class'] = data['vehicle class'].fillna('Unknown')
len(data[data['vehicle class'].isna() == True])

0

In [37]:
data['vehicle type'].nunique()
data['vehicle type'].value_counts()

A    5428
Name: vehicle type, dtype: int64

In [38]:
data['vehicle type'] = data['vehicle type'].fillna('Unknown')
len(data[data['vehicle type'].isna() == True])

0

In [39]:
data['vehicle size'].nunique()
data['vehicle size'].value_counts()

Medsize    7251
Small      1966
Large      1071
Name: vehicle size, dtype: int64

In [40]:
data['vehicle size'] = data['vehicle size'].fillna('Unknown')
len(data[data['vehicle size'].isna() == True])

0

In [41]:
data.isna().sum()

unnamed: 0                       0
customer                         0
state                            0
customer lifetime value          0
response                         0
coverage                         0
education                        0
effective to date                0
employmentstatus                 0
gender                           0
income                           0
location code                    0
marital status                   0
monthly premium auto             0
months since last claim          0
months since policy inception    0
number of open complaints        0
number of policies               0
policy type                      0
policy                           0
renew offer type                 0
sales channel                    0
total claim amount               0
vehicle class                    0
vehicle size                     0
vehicle type                     0
dtype: int64

In [47]:
data = data.drop([data.columns[0]], axis=1)
data.head(5)

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029.0,...,0.0,9.0,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,Unknown
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0.0,...,0.0,1.0,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,Unknown
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139.0,...,0.0,2.0,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078.0,...,0.0,2.0,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675.0,...,0.0,7.0,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,Unknown

In [45]:
display(data['coverage'].unique())
display(data['coverage'].value_counts())
data['coverage'].value_counts(dropna=False)

array(['Basic', 'Extended', 'Premium'], dtype=object)

Basic       6660
Extended    3265
Premium      985
Name: coverage, dtype: int64

Basic       6660
Extended    3265
Premium      985
Name: coverage, dtype: int64

In [ ]:
# Datetime format - Extract the months from the dataset and store in 
#a separate column. Then filter the data to show only the information 
#for the first quarter , ie. January, February and March. Hint: 
#If data from March does not exist, consider only January and February.

In [48]:
data['effective to date'] = pd.to_datetime(data['effective to date'], errors ='coerce')
display(data.head(5))
print(data.dtypes)

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029.0,...,0.0,9.0,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,Unknown
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0.0,...,0.0,1.0,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,Unknown
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139.0,...,0.0,2.0,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078.0,...,0.0,2.0,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675.0,...,0.0,7.0,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,Unknown

customer                                 object
state                                    object
customer lifetime value                 float64
response                                 object
coverage                                 object
education                                object
effective to date                datetime64[ns]
employmentstatus                         object
gender                                   object
income                                  float64
location code                            object
marital status                           object
monthly premium auto                    float64
months since last claim                  object
months since policy inception           float64
number of open complaints                object
number of policies                      float64
policy type                              object
policy                                   object
renew offer type                         object
sales channel                            object
total claim amount                      float64
vehicle class                            object
vehicle size                             object
vehicle type                             object
dtype: object

In [56]:
import datetime

In [58]:
data['month'] = data['effective to date'].dt.month

In [59]:
data.head(5)

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029.0,...,9.0,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,Unknown,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0.0,...,1.0,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,Unknown,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139.0,...,2.0,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078.0,...,2.0,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675.0,...,7.0,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,Unknown,1

In [61]:
display(data['month'].unique())
display(data['month'].value_counts())
data['month'].value_counts(dropna=False)

array([2, 1])

1    5818
2    5092
Name: month, dtype: int64

1    5818
2    5092
Name: month, dtype: int64

In [104]:
data4 = data.copy()

In [105]:
data4

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029.0,...,9.0,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,Unknown,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0.0,...,1.0,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,Unknown,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139.0,...,2.0,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078.0,...,2.0,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675.0,...,7.0,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,Unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0.0,...,7.0,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146.0,...,6.0,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837.0,...,2.0,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,Unknown,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195.0,...,6.0,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,IV32877,Unknown,6857.519928,Unknown,Basic,Bachelor,2011-01-08,Unemployed,M,0.0,...,3.0,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,Unknown,1

In [106]:
def clean(x):
    if x in [1]:
        return 'January'
    elif x in [2]:
        return 'Febrery'
    
data4['month'] = data4['month'].apply(clean)

In [107]:
display(data4['month'].unique())

array(['Febrery', 'January'], dtype=object)

In [94]:
display(data4['month'].unique())
display(data4['month'].value_counts())
data4['month'].value_counts(dropna=False)

array([2, 1])

1    5818
2    5092
Name: month, dtype: int64

1    5818
2    5092
Name: month, dtype: int64

In [108]:

data4.head(5)

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029.0,...,9.0,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,Unknown,Febrery
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0.0,...,1.0,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,Unknown,January
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139.0,...,2.0,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,Febrery
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078.0,...,2.0,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,January
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675.0,...,7.0,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,Unknown,January